name: Lint

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --timeout=5m ./...
